.navContainer {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  margin-right: 35rem;
}

.userProfile {
  background-color: aqua;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
}

@media (max-width: 768px) {
  .navContainer {
    justify-content: space-between;
  }

  .logo{
    margin-right: 0;
  }
}
